@CHARSET "ISO-8859-1";

#gameBoard{
	float: left;
}

#gameStatus{
	float: left;
	min-width: 150px;
	width: 100%;
}

#rightPanelContainer{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    width: 20%;
}
#rightPanelContainer div{
	display: inline-block;	
}

div {
    background: none repeat scroll 0 0 lightblue;
    border-radius: 15px;
    margin: 15px;
}