@CHARSET "ISO-8859-1";

.gameList tr:nth-child(even) {
    background-color: #FFD1B2;
}

.gamelist tr:first-of-type td{
	border-bottom-color: black;
    border-bottom-style: solid;
}

.gameList{
	border-collapse: collapse;
	width: 100%;
}

