@CHARSET "ISO-8859-1";

.studyRoom{
	background-image: url("../images/sprites.png");
    background-position: 0 -53px;
    height: 250px;
    width: 279px;
}

.libraryRoom{
	background-image: url("../images/sprites.png");
    background-position: 0 -354px;
    height: 250px;
    width: 279px;
}

.conservatoryRoom{
	background-image: url("../images/sprites.png");
    background-position: 51px -685px;
    height: 250px;
    width: 279px;
}

.hallRoom{
	background-image: url("../images/sprites.png");
    background-position: -300px -53px;
    height: 250px;
    width: 217px;
}

.billiardsRoom{
	background-image: url("../images/sprites.png");
    background-position: -300px -354px;
    height: 250px;
    width: 217px;
}


.ballRoom{
	background-image: url("../images/sprites.png");
    background-position: -300px -685px;
    height: 250px;
    width: 217px;
}

.loungeRoom{
    background-image: url("../images/sprites.png");
    background-position: -600px -54px;
    height: 250px;
    width: 279px;
}

.diningRoom{
	background-image: url("../images/sprites.png");
    background-position: -600px -354px;
    height: 250px;
    width: 279px;
}

.kitchenRoom{
	background-image: url("../images/sprites.png");
    background-position: -604px -682px;
    height: 250px;
    width: 279px;
}

.hall{
	background-image: url("../images/sprites.png");
 	background-position: 0 -1078px;
    height: 123px;
    width: 123px;
}

.scarletPlayer{
	background-image: url("../images/sprites.png");
    background-position: -900px 0;
}

.mustardPlayer{
	background-image: url("../images/sprites.png");
    background-position: -900px -138px;
}

.whitePlayer{
	background-image: url("../images/sprites.png");
    background-position: -900px -300px;
}

.greenPlayer{
	background-image: url("../images/sprites.png");
    background-position: -900px -449px;
}

.peacockPlayer{
	background-image: url("../images/sprites.png");
    background-position: -900px -602px;
}

.plumPlayer{
	background-image: url("../images/sprites.png");
    background-position: -900px -769px;
}

.upLeftArrow{
    background-image: url("../images/sprites.png");
    background-position: -311px -1283px;
    height: 64px;
    width: 64px;
}

.upArrow{
	background-image: url("../images/sprites.png");
    background-position: -308px -1189px;
    height: 64px;
    width: 64px;
}

.upRightArrow{
	background-image: url("../images/sprites.png");
    background-position: -311px -1452px;
    height: 64px;
    width: 64px;
}

.rightArrow{
	background-image: url("../images/sprites.png");
    background-position: -316px -945px;
    height: 64px;
    width: 64px;
}

.downRightArrow{
	background-image: url("../images/sprites.png");
    background-position: -306px -1536px;
    height: 64px;
    width: 64px;
}

.downArrow{
	background-image: url("../images/sprites.png");
    background-position: -308px -1121px;
    height: 64px;
    width: 64px;
}

.downLeftArrow{
	background-image: url("../images/sprites.png");
    background-position: -308px -1367px;
    height: 64px;
    width: 64px;
}

.leftArrow{
	background-image: url("../images/sprites.png");
    background-position: -298px -1031px;
    height: 64px;
    width: 64px;
}
